<nav class="mt-0 w-full bg-blue-500 p-5">
      <div class="container mx-auto flex justify-between">
        <div>
        <i class="fa-solid fa-earth-africa text-white mr-2 text-2xl"></i>
          <span class="text-2xl font-bold text-white">Fongbè</span>
        </div>
        <ul class="hidden items-center space-x-10 text-sm font-bold uppercase text-white md:flex">
         
          <li class="hover:text-gray-300">
              <Link to="/"> Acceuil</Link>
          </li>
          <li class="hover:text-gray-300">
            <a class="no-underline" href="#">Blog</a>
          </li>
          <li class="hover:text-gray-300">
            <a class="no-underline" href="#">A-propos</a>
          </li>
        </ul>
        <div class="flex items-center">
          <div class="mr-6 items-center">
             <i class="fa-solid fa-microphone text-red-600 text-xl mr-1"></i>|<i class="ml-1 text-green-300 fa-solid fa-play text-xl"></i>
          </div>
          <% if current_user %>
            <h2><%= current_user.email %></h2>
             <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
          <% else %>
              <Link to="/connexion" class="mr-5 text-sm text-white"><%=link_to user_session_url do%><i class="fa-solid fa-right-to-bracket"></i> Login <%end%>| <%=link_to new_user_registration_url do%>Sign Up <i class="fa-solid fa-user-plus"></i><%end%></Link>
          <% end %>
          <div id="hamburger" class="cursor-pointer space-y-2 md:hidden z-10">
            <div class="h-0.5 w-6 bg-black"></div>
            <div class="h-0.5 w-6 bg-black"></div>
            <div class="h-0.5 w-6 bg-black"></div>
          </div>
          <ul id="menu" class="hidden absolute left-0 top-0 w-full space-y-4 rounded-b-xl bg-gray-500 p-5 text-sm font-bold uppercase text-white">
            <li class="hover:text-gray-300">
              <a class="" href="">Acceuil</a>
            </li>
            <li class="hover:text-gray-300">
              <a class="no-underline" href="">Blog</a>
            </li>
            <li class="hover:text-gray-300">
              <a class="no-underline" href="">A-propos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>