<div>
<% @users.each  do |user|%>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email%>
    <%= link_to "editer",edit_admin_registration_path(user)%>
  </p>
 
<%end%>

</div>
